In [1]:
import sqlalchemy
import pickle
import pandas as pd

In [2]:

class Movie:
    name = 'unknown'
    genre = "Action"
    year = None

movie_obj = Movie()
movie_obj.name

'unknown'

In [3]:
from dataclasses import dataclass

@dataclass
class Movie:
    name:str = 'unknown'
    genre:str = "Action"
    year:int = None

movie_obj = Movie(name="Interstellar")
movie_obj.name

'Interstellar'

Help on function dataclass in module dataclasses:

dataclass(cls=None, /, *, init=True, repr=True, eq=True, order=False, unsafe_hash=False, frozen=False)
    Returns the same class as was passed in, with dunder methods
    added based on the fields defined in the class.

    Examines PEP 526 __annotations__ to determine fields.

    If init is true, an __init__() method is added to the class. If
    repr is true, a __repr__() method is added. If order is true, rich
    comparison dunder methods are added. If unsafe_hash is true, a
    __hash__() method function is added. If frozen is true, fields may
    not be assigned to after instance creation.

In [4]:
data = [{
    "name": "interstellar",
    "genre": "sci-fi"
},
{
    "name": "The Martian",
    "genre": "sci-fi"
},
{
    "name": "Arrival",
    "genre": "sci-fi"
}
]

In [5]:
df = pd.DataFrame(data)
df

           name   genre
0  interstellar  sci-fi
1   The Martian  sci-fi
2       Arrival  sci-fi

In [6]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [7]:
#decide on engine
engine = create_engine("sqlite:///app.db") #name of database app.db

In [8]:
#make session
#create session class

Session = sessionmaker(bind=engine)
my_sess = Session()

In [9]:
#turn Movie class into database table!!
class Movie:
    name:str = 'unknown'
    genre:str = "Action"
    year:int = None

In [10]:
#bring in declaratve base
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [11]:
from sqlalchemy import Column, Integer, String

class Movie(Base):
    __tablename__ = "movies"
    
    id = Column(Integer, primary_key=True)
    name = Column(String) #'unknown'
    genre = Column(String) #"Action"
    year = Column(Integer, nullable=True) #None

    #add str representation of the model
    def __repr__(self):
        return f"<Movie name={self.name}>"

In [25]:
#ready to add ALL model/tabble to databse...
Base.metadata.create_all(engine)

In [14]:
#add entry to database
movie_obj = Movie(name="Interstellar", genre="sci-fi")
movie_obj.name

'Interstellar'

In [22]:
#then add entry to databse
my_sess.add(movie_obj) #prepare to save
my_sess.commit() #actually save
movie_obj2.id

3


movie_obj2 = Movie(name="The Martian", genre="sci-fi")
my_sess.add(movie_obj2)
my_sess.commit()
my_sess.id

In [24]:
movie_obj3 = Movie(name="Inception", genre="sci-fi")
my_sess.add(movie_obj3)
my_sess.commit()
movie_obj3.id

4

In [26]:
##CRUD##
# create

In [29]:
Session = sessionmaker(bind=engine)
session = Session()

In [54]:
#retreive
#get 1 item
movie_1 = session.query(Movie).get(4) #id
print(movie_1)

<Movie name=Inception>

In [37]:
#list
#filter database by a value
qs = session.query(Movie).all() #queryset
qs

[<Movie name=Interstellar>,
 <Movie name=The Martian>,
 <Movie name=The Martian>,
 <Movie name=Inception>]

In [41]:
#list and filter by column value (name)
qs = session.query(Movie).filter_by(name="The Martian").all()
qs

In [43]:
#list and filter by colunn value 'containing'
qs = session.query(Movie).filter(Movie.name.contains("ince")).all()
qs

In [48]:
my_query = input("what are you looking for?") or "unknown"
qs = session.query(Movie).filter(Movie.name.contains("ince")).all()
print(qs)

[<Movie name=Inception>]

In [55]:
#add description
movie_a = session.query(Movie).get(4)
movie_a.description = "dream within a dream"

In [58]:
##UPDATE##
session.commit()

In [64]:
##delete##
#get it and call delete on it
movie_a = session.query(Movie).get(1)
session.delete(movie_a)
session.commit()
session.flush()

In [67]:
list  = session.query(Movie).all()
list

In [69]:
!sqlacodegen sqlite://app2.db

'sqlacodegen' is not recognized as an internal or external command,
operable program or batch file.